*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files and Folders #
*.jar
*.war
*.ear
.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/

# Libs (dependencias)
libraries/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
